<mat-nav-list class="p-0">
	<!-- Menú que se genera en base al array menuPrincipal -->
	<mat-list-item class="bg-primary text-light">
		Menú
	</mat-list-item>
	<span *ngFor="let item of mainMenu | keyvalue">
		<mat-list-item routerLink="{{item.value.enlace}}">
			<mat-icon class="pl-0 text-primary">{{item.value.icon}}</mat-icon>
			<span class="text-primary ml-2 pr-1">{{item.value.texto}}</span>
		</mat-list-item>
		<mat-divider></mat-divider>
	</span>


	<div *ngIf="user">

		<div *ngIf="userData?.userType == 'admin'">
			<mat-list-item class="bg-primary text-light">
				Menú Administrador
			</mat-list-item>
			<span *ngFor="let item of menuAdministrator | keyvalue">
				<mat-list-item routerLink="{{item.value.enlace}}" style="border-top: #DDD 1px solid;">
					<mat-icon class="pl-0 text-primary">{{item.value.icon}}</mat-icon>
					<span class="text-primary ml-2 pr-1">{{item.value.texto}}</span>
				</mat-list-item>
				<mat-divider></mat-divider>
			</span>
		</div>


		<div *ngIf="menuUser">
			<mat-list-item class="bg-primary text-light">
				Menú Usuario
			</mat-list-item>
			<span *ngFor="let item of menuUser | keyvalue">
				<mat-list-item routerLink="{{item.value.enlace}}" style="border-top: #DDD 1px solid;">
					<mat-icon class="pl-0 text-primary">{{item.value.icon}}</mat-icon>
					<span class="text-primary ml-2 pr-1">{{item.value.texto}}</span>
				</mat-list-item>
				<mat-divider></mat-divider>
			</span>
		</div>
	</div>
</mat-nav-list>