<div class="container-fluid caja-interior white-background">
	<div *ngIf="uid != null; else iniciarSesion" class="container animated fadeInUp">
		<div class="row">
			<div class="col-12 p-1 p-md-3">
				<div class="card mt-1 mt-md-3 shadow">
					<div class="card-header">
						<div class="titulo-responsivo text-center">
							{{ tramite.titulo }}
						</div>
					</div>
					<div class="card-body p-3 p-md-5 p-md-3">
						<p [innerHTML]="tramite.presentacion"></p>
					</div>
				</div>
			</div>
		</div>

		<div class="row pb-md-5">
			<div class="col-12 col-md-4 p-1 p-md-3">
				<div class="card mb-3 shadow">
					<div class="card-body">
						<h5>¿Qué es?</h5>
						<p [innerHTML]="tramite.que"></p>

						<hr>

						<h5>Quién lo necesita?</h5>
						<p [innerHTML]="tramite.quien"></p>
					</div>
				</div>

				<div class="card shadow mb-3">
					<div class="card-body">
						<h5>Requisitos y formato</h5>
						<p [innerHTML]="tramite.requisitos"></p>

						<div *ngIf="tramite.formatos">
							<div *ngFor="let item of tramite.formatos">
								<a mat-raised-button color="accent" href="{{item.archivo}}" class="d-block mb-3 w-100"
									target="_blank">
									<mat-icon matSuffix>attach_file</mat-icon>
									Descargar {{item.nombre}}
								</a>
							</div>
						</div>

					</div>
				</div>


				<div *ngIf="tramite.fundamentos">
					<div class="card shadow">
						<div class="card-body">
							<h5>Fundamentos</h5>
							<p [innerHTML]="tramite.fundamentos"></p>
						</div>
					</div>
				</div>
			</div>


			<div class="col-12 col-md-8 p-1 p-md-3">
				<div class="card shadow">
					<div class="card-body">
						<h5>Iniciar trámite en línea</h5>



						
						<form name="form" (ngSubmit)="processForm()">
							<div [formGroup]="formGroup">
								<div class="row">
									<div class="col-12">
										<mat-form-field appearance="outline" class="d-block w-100">
											<mat-label>Nombre completo</mat-label>
											<input matInput formControlName="nombreCompleto" required>
											<mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
											<mat-error>El nombre es requerido</mat-error>
										</mat-form-field>
									</div>
									<div class="col-12">
										<mat-form-field appearance="outline" class="d-block w-100">
											<mat-label>Correo electrónico</mat-label>
											<input matInput formControlName="correo" required>
											<mat-icon matSuffix class="secondary-text">email</mat-icon>
											<mat-error>El correo es un campo requerido</mat-error>
										</mat-form-field>
									</div>
								</div>
	
								<div class="row">
									<div class="col-12 col-md-6">
										<mat-form-field appearance="outline" class="d-block w-100">
											<mat-label>Calle y número</mat-label>
											<input matInput formControlName="calleNumero" required>
											<mat-icon matSuffix class="secondary-text">location_city</mat-icon>
											<mat-error>Calle y número es un dato requerido</mat-error>
										</mat-form-field>
									</div>
									<div class="col-12 col-md-6">
										<mat-form-field appearance="outline" class="d-block w-100">
											<mat-label>Colonia</mat-label>
											<input matInput formControlName="colonia" required>
											<mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
											<mat-error>La colonia es requerida</mat-error>
										</mat-form-field>
									</div>
								</div>
	
								<div class="row">
									<div class="col-12 col-md-6">
										<mat-form-field appearance="outline" class="d-block w-100">
											<mat-label>Código postal</mat-label>
											<input matInput #postalCode value="" formControlName="codigoPostal"
												maxlength="5" required>
											<mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
											<mat-hint align="start">
												{{postalCode.value.length}} / 5
											</mat-hint>
											<mat-error>El C. P. es requerido</mat-error>
										</mat-form-field>
									</div>
									<div class="col-12 col-md-6">
										<mat-form-field appearance="outline" class="d-block w-100">
											<mat-label>Teléfono</mat-label>
											<input matInput formControlName="telefono" required>
											<mat-icon matSuffix class="secondary-text">local_phone</mat-icon>
											<mat-error>El teléfono es un campo requerido</mat-error>
										</mat-form-field>
									</div>
								</div>



								<div class="row mt-3 mb-3">
									<div class="col-12 col-md-6">
										<app-uploader-multiple (archivos)="leerArchivos($event)"
											buttonText="Adjuntar archivos" type="multiple"></app-uploader-multiple>
									</div>

									<div class="col-12 col-md-6">
										<app-location [lista]="'La lista'" (coords)="leerPropagacion($event)">
										</app-location>
									</div>
								</div>


	
								<div class="row">
									<div class="col-12">
										<mat-form-field appearance="outline" class="d-block w-100">
											<mat-label>Mensaje</mat-label>
											<textarea matInput formControlName="mensaje" required>
										</textarea>
											<mat-error>El mensaje es un campo requerido</mat-error>
										</mat-form-field>
									</div>
								</div>
	
	
								<div class="row">
									<div class="col-6 offset-6 col-md-4 offset-md-8">
										<button mat-raised-button color="accent" type="submit" class="d-block w-100"
											[disabled]="!formGroup.valid">
											<mat-icon matSuffix>send</mat-icon>
											Envíar
										</button>
									</div>
								</div>
							</div>
							
						</form>
						

					</div>
				</div>
			</div>
		</div>
	</div>

	<ng-template #iniciarSesion>
		<div class="container">
			<div class="row">
				<div class="col-12 p-5">
					<div class="alert alert-success p-5">
						Debes iniciar sesión
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</div>