<div class="container-fluid caja-interior" [ngStyle]="{ 'background-color': '#DEDEDE', 'background-image': 'url(https://firebasestorage.googleapis.com/v0/b/ecatepecapp.appspot.com/o/webapp%2Ffondos%2Ffondo_generico.png?alt=media&token=5db26fee-d218-4eba-8174-ffb83d40ab71)' }">
	
	<div class="row p-0 p-md-3" *ngIf="process ; else nodata">

		<div *ngFor="let item of process | keyvalue" class="col-4 col-md-3 col-lg-2 p-2 p-md-3 animated fadeInUp">

			<a routerLink="/tramites-lista/{{item.value.id}}" style="cursor: pointer">
				<img src="{{ item.value.iconoGrande }}" class="animated zoomIn over" style="width:100%">
			</a>
			
		</div>

	</div>


	<ng-template #nodata>
		No hay datos
	</ng-template>

</div>