<mat-dialog-content class="miDialogo">
	<p>{{mensaje}}</p>


	<mat-form-field appearance="outline" class="d-block" *ngIf="cancelar">
		<mat-label>Ingrese su correo</mat-label>

		<input matInput [(ngModel)]="mail">
		<mat-icon matSuffix class="secondary-text">mail</mat-icon>
		<!-- <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        El correo es requerido
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Por favor ingrese un correo valido
                    </mat-error> -->
	</mat-form-field>

</mat-dialog-content>


<mat-dialog-actions *ngIf="!cancelar" align="end">
	<button mat-button [mat-dialog-close]="algo" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="cancelar" align="end">
	<button mat-button mat-dialog-close="false">Cancelar</button>
	<button mat-button [mat-dialog-close]="mail" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>