<div class="container-fluid d-flex justify-content-center caja-interior white-background">
	
	<div class="align-self-md-center pt-3 pt-md-5">
		<div class="card shadow animated fadeInUp">
			
			
			
			<div class="card-body">      
				<form name="loginForm" [formGroup]="loginForm" novalidate>
	
					<mat-form-field appearance="outline" class="d-block">
						<mat-label>Correo electrónico</mat-label>
						<input matInput formControlName="email">
							<mat-icon matSuffix class="secondary-text">mail</mat-icon>
							<mat-error *ngIf="loginForm.get('email').hasError('required')">
								El correo es requerido
							</mat-error>
							<mat-error
								*ngIf="!loginForm.get('email').hasError('required') &&
										loginForm.get('email').hasError('email')">
								Por favor ingrese un correo valido
							</mat-error>
					</mat-form-field>
	
					<mat-form-field appearance="outline" class="d-block">
						<mat-label>Contraseña</mat-label>
						<input matInput type="password" formControlName="password">
						<mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
						<mat-error>
							La contraseña es un campo requerido
						</mat-error>
					</mat-form-field>
	
					<div class="d-block">
							<button mat-raised-button color="accent" class="d-block" aria-label="LOG IN"
									[disabled]="loginForm.invalid" 
									(click)="iniciarSesion()" style="width: 100%">
								INICIAR SESIÓN
							</button>
					</div>
	
				</form>
	
				<hr>
		
				<!-- <button mat-raised-button class="google">
					Log in with Google
				</button>
				 -->

				<!-- <div class="text-center">
					<button mat-raised-button (click)="autorizacion.facebookAuth()">
						<fa-icon [icon]="iconFacebook" class="facebook"></fa-icon> Entrar con facebook
					</button>
				</div>

				<div class="text-center">
					<button mat-raised-button (click)="autorizacion.googleAuth()">
						<fa-icon [icon]="iconFacebook" class="google"></fa-icon> Entrar con Google
					</button>
				</div> -->
				
				<div class="row">
					<div class="col-12 p-3">
						<p class="text-center text-secondary">
							¿No tienes cuenta aún?
						</p>
		
						<p class="text-center">
							<button mat-raised-button [routerLink]="'/usuario-registrar'">
								CREA UNA CUENTA
							</button>
						</p>
					</div>
				</div>
	
				<div class="row d-block">
					<div class="col-12">
						<p class="text-center text-danger" (click)="olvidePassword()" style="cursor: pointer;">
								¿Olvidaste tu contraseña?
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>