<div class="container-fluid caja-interior d-flex justify-content-center p-1 p-md-5" [ngStyle]="myDinamicForm.style">


	<div class="col-12 col-sm-10 col-md-7 col-lg-5 p-0 m-0 pt-2 pt-md-5">


		<div *ngIf="myDinamicForm.headerImage" class="row">
			<div class="col-12 text-center mb-3">
				<img src="{{ myDinamicForm.headerImage }}" alt="">
			</div>
		</div>


		<div class="card mb-3 mb-md-5 shadow-sm animated fadeInUp">
			<div class="card-header bg-primary text-light">
				<b *ngIf="editing; else creating">{{ myDinamicForm.titleEditing }}</b>
				<ng-template #creating>
					<b>{{myDinamicForm.titleCreating}}</b>
				</ng-template>
			</div>

			<div class="card-body p-3 p-md-3 pb-md-3 pr-lg-4 pl-lg-4">
				<form name="form" (ngSubmit)="processForm()">
					<div [formGroup]="formGroup">


						<div class="row">

							<div *ngFor="let item of myDinamicForm.fields; let i = index" class="{{ item.classDiv }}">

								<!-- ============================================================
														TIPO ALERTA
								============================================================ -->
								<div *ngIf="item.blockType == 'alert'" class="{{ item.classDiv }}">
									<div class="{{ item.alertClass }}">
										Dejános tu denuncia, es completamente anónima
									</div>
								</div>

								<!-- ============================================================
														TIPO TEXTO
								============================================================ -->
								<div *ngIf="item.blockType == 'texto'" class="{{ item.classDiv }}"
									[innerHTML]="item.texto">
								</div>

								<!-- ============================================================
														TIPO HIDDEN
								============================================================ -->
								<div *ngIf="item.blockType == 'hidden'">
									<mat-form-field [hidden]="true">
										<mat-label>{{item.matLabel}}</mat-label>
										<input matInput formControlName="{{item.formControlName}}">
										
										<mat-icon *ngIf="item.matSuffix" matSuffix class="text-primary">{{item.matIcon}}</mat-icon>
										<mat-icon *ngIf="item.matPrefix" matPrefix class="text-primary">{{item.matIcon}}</mat-icon>
										
										<mat-error>{{item.matError}}</mat-error>
									</mat-form-field>
								</div>

								<!-- ============================================================
														TIPO INPUT
								============================================================ -->
								<div *ngIf="item.blockType == 'input'">
									<mat-form-field appearance="outline" class="d-block w-100">
										<mat-label>{{item.matLabel}}</mat-label>
										<input matInput formControlName="{{item.formControlName}}">
										
										<mat-icon *ngIf="item.matSuffix" matSuffix class="text-primary">{{item.matIcon}}</mat-icon>
										<mat-icon *ngIf="item.matPrefix" matPrefix class="text-primary">{{item.matIcon}}</mat-icon>
										
										<mat-error>{{item.matError}}</mat-error>
									</mat-form-field>
								</div>

								<!-- ============================================================
														TIPO CODIGO POSTAL
								============================================================ -->
								<div *ngIf="item.blockType == 'inputCP'">
									<mat-form-field appearance="outline" class="d-block w-100">
										<mat-label>{{item.matLabel}}</mat-label>
										<input matInput #postalCode value="" formControlName="{{item.formControlName}}"
											maxlength="5">
										<mat-icon matSuffix class="text-primary">{{item.matIcon}}</mat-icon>
										<mat-hint align="start">
											{{postalCode.value.length}} / 5
										</mat-hint>
										<mat-error>{{item.matError}}</mat-error>
									</mat-form-field>
								</div>


								<!-- ============================================================
														SELECT
								============================================================ -->
								<div *ngIf="item.blockType == 'select'">
									<mat-form-field appearance="outline" class="d-block w-100">
										<mat-label>{{item.matLabel}}</mat-label>

										<mat-select formControlName="{{item.formControlName}}" value="{{ formGroup.value[item.formControlName] }}">

											<mat-option *ngFor="let item of item.options" [value]="item.value">
												{{item.text}}
											</mat-option>

										</mat-select>
										<mat-icon matSuffix class="text-primary">{{item.matIcon}}</mat-icon>
										<mat-error>{{item.matError}}</mat-error>
									</mat-form-field>
								</div>


								<!-- ============================================================
														DYNAMIC SELECT
								============================================================ -->
								<div *ngIf="item.blockType == 'dynamicSelect' && myDinamicForm.processType == 'api'">
									<mat-form-field appearance="outline" class="d-block w-100">
										<mat-label>{{item.matLabel}}</mat-label>

										<mat-select formControlName="{{item.formControlName}}" (selectionChange)="selectChange(item.loadAditionaldataPath, $event.value, item.loadAditionaldata)">

											<mat-option
												*ngFor="let elementSelect of dynamicSelectsArray[item.dataVariable]"
												[value]="elementSelect[item.itemValue]">
												{{elementSelect[item.itemValue]}}
											</mat-option>

										</mat-select>
										<mat-icon matSuffix class="text-primary">{{item.matIcon}}</mat-icon>
										<mat-error>{{item.matError}}</mat-error>
									</mat-form-field>
								</div>


								<div *ngIf="item.blockType == 'dynamicSelect' && myDinamicForm.processType == 'firebaseRealTime'">
									<mat-form-field appearance="outline" class="d-block w-100">
										<mat-label>{{item.matLabel}}</mat-label>

										<mat-select formControlName="{{item.formControlName}}" (selectionChange)="selectChange(item.loadAditionaldataPath, $event.value, item.loadAditionaldata)">

											<mat-option
												*ngFor="let elementSelect of dynamicSelectsArray[item.dataVariable] | keyvalue"
												[value]="elementSelect.value[item.itemValue]">
												{{elementSelect.value[item.itemValue]}}
											</mat-option>

										</mat-select>
										<mat-icon matSuffix class="text-primary">{{item.matIcon}}</mat-icon>
										<mat-error>{{item.matError}}</mat-error>
									</mat-form-field>
								</div>


								<!-- ============================================================
														DATE
								============================================================ -->
								<div *ngIf="item.blockType == 'date'">
									<mat-form-field appearance="outline" class="d-block w-100">
										<mat-label>{{item.matLabel}}</mat-label>
										<input matInput [matDatepicker]="i" formControlName="{{item.formControlName}}">
										<mat-datepicker-toggle matSuffix class="text-primary" [for]="i">
										</mat-datepicker-toggle>
										<mat-datepicker #i></mat-datepicker>
									</mat-form-field>
								</div>



								<!-- ============================================================
														DATE
								============================================================ -->
								<div *ngIf="item.blockType == 'checkbox'" class="d-block w-100">
									<mat-checkbox class="d-block" name="{{item.formControlName}}"  (change)="fillCheckbox($event)"> {{ item.matLabel }} </mat-checkbox>
								</div>



								


								<!-- ============================================================
														SELECT ARCHIVO INDIVIDUAL
								============================================================ -->
								<div *ngIf="item.blockType == 'fileSingle'" style="margin-bottom: 16px;">
									<input type="hidden" formControlName="{{item.formControlName}}">
									<app-uploader-single buttonText="Elegir logotipo"
										(archivo)="retornarRuta($event, item.formControlName)"></app-uploader-single>
								</div>


								<!-- ============================================================
														SELECT ARCHIVOS
								============================================================ -->
								<div *ngIf="item.blockType == 'fileMultiple'" style="margin-bottom: 16px;">
									
									<div *ngIf="!editing">
										<div *ngIf="formGroup.value.fotos">
											Aquí hay fotos
										</div>
	
										<app-uploader-multiple (archivos)="leerArchivos($event)"
											buttonText="Adjuntar archivos" type="multiple"></app-uploader-multiple>
									</div>
									
								</div>



								<!-- ============================================================
														SELECCIONAR UBICACIÓN
								============================================================ -->
								<div *ngIf="item.blockType == 'selectUbicacion'">
									<app-location [lista]="'La lista'" (coords)="leerPropagacion($event)">
									</app-location>
								</div>

								<!-- ============================================================
														TIPO TEXTAREA
								============================================================ -->
								<div *ngIf="item.blockType == 'textarea'">
									<mat-form-field appearance="outline" class="d-block w-100">
										<mat-label>{{item.matLabel}}</mat-label>
										<textarea rows="5" matInput formControlName="{{item.formControlName}}">
										</textarea>
										<mat-error>{{item.matError}}</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-12">
								<div class="alert alert-success p-3 mt-5" *ngIf="dataImprimir">
									<p>
										Se generó su documento correctamente, puede descargar su comprobante en formato
										PDF en el siguiente enlace.
									</p>
									<p>
										<b>Folio: {{folio}}</b>
									</p>
									<qrcode [level]="1" [qrvalue]="'Hola Megan. ¿Cómo estás?'"></qrcode><br><br><br>
									<button mat-raised-button color="accent" (click)="generatePdf()">DESCARGAR
										COMPROBANTE</button>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-12 col-md-8">
								<div *ngIf="myDinamicForm.showAsJson" class="alert alert-success">
									<pre>
										{{ formGroup.value | json }}
									</pre>
								</div>
							</div>

							<div class="col-12 col-md-4">
								<button mat-raised-button color="accent" type="submit" class="d-block w-100"
									[disabled]="!formGroup.valid">
									<mat-icon matSuffix>send</mat-icon>
									Envíar
								</button>
							</div>
						</div>
					</div>
				</form>



				<div class="row" *ngIf="myDinamicForm.showJson">
					<div class="col-12 mt-5">
						<div class="alert alert-success">
							<pre>{{ formGroup.value | json }}</pre>
						</div>


						<div class="alert alert-danger">
							<pre>{{ formGroup.valid | json }}</pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>